<h1>New Recipe</h1>

<%= form_with scope: :recipe, url: recipes_path, local: true do |form| %>
<p>
  <%= form.label :title %><br>
  <%= form.text_field :title %>
</p>

<p>
  <%= form.label :servings %><br>
  <%= form.text_field :serving %>
</p>

<p>
  <%= form.label :time %><br>
  <%= form.text_field :time %>
</p>
<p>
  <%= form.label :ingredients %><br>
  <%= form.text_area :ingredient %>
</p>
<p>
  <%= form.label :method %><br>
  <%= form.text_area :method %>
</p>

<p>
  <%= form.submit %>
</p>
<% end %>
