<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Servings:</strong>
  <%= @recipe.serving %>
</p>

<p>
  <strong>Time:</strong>
  <%= @recipe.time %>
</p>
<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredient %>
</p>
<p>
  <strong>Method:</strong>
  <%= @recipe.method %>s
</p>
