<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Servings:</strong>
  <%= @recipe.servings %>
</p>

<p>
  <strong>Time:</strong>
  <%= @recipe.time %>
</p>

<p>
  <strong>Ingredients:</strong>
  <% @recipe.ingredient_name.each do |name| %>
  <ul><%= name %> </ul>
  <%end%>
</p>

<p>
  <strong>Methods Used:</strong>
  <% @recipe.cooking_method_name.each do |name| %>
  <ul><%= name %> </ul>
  <%end%>
</p>

<%= link_to 'Back', recipes_path %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %>
