<%= form_with model: @recipe_ingredient, local: true do |form| %>

  <% if @recipe_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe_ingredient.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>
      <ul>
        <% @recipe_ingredient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :ingredient %><br>
    <%= form.text_field :ingredient %>
  </p>
  <p>
    <%= form.submit %>
  </p>


<% end %>
